* {
  padding: 0px;
  margin: 0px;
}

.Anime {
  width: 200px;
  width: 200px;
  background-color: burlywood;
  color: white;
  transform: translate(620px, 100px);
  animation-name: firstanime;
  animation-duration: 4s;
}

@keyframes firstanime {
  from {
    background-color: darkblue;
  }
  to {
    background-color: darkgreen;
  }
}
